<div>{{#link-to 'people'}}Back to full matrix{{/link-to}}</div>

<h2><small>Name: </small>{{model.me.firstName}} {{model.me.lastName}}</h2>

<table class='table table-bordered table-hover table-condensed table-responsive'>
	<thead>
		<tr>
		  <th>My Strengths</th>
		  {{#each person in model.others}}
		    <th>{{person.firstName}} {{person.lastName}}</th>
		  {{/each}}
		</tr>
	</thead>
  <tbody>
		{{#each index in model.me.strengthIndices}}
		  <tr>
			  <td>{{strength index}}</td>
			  {{#each person in model.others}}
			    <td></td>
			  {{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>