<div>{{#link-to 'people.new'}}Add Person{{/link-to}}</div>

<table class='table table-bordered table-hover table-condensed table-responsive'>
	<thead>
		<tr>
		  <th></th>
		  {{#each person in model}}
		    <th>{{#link-to 'person' person}}{{person.firstName}} {{person.lastName}}{{/link-to}}</th>
		  {{/each}}
		</tr>
	</thead>
  <tbody>
		{{#each person in model}}
		  <tr>
			  <td>{{person.firstName}} {{person.lastName}}</td>
			  {{#each comparedPerson in model}}
			  	{{strength-diff-cell person=person comparedPerson=comparedPerson maxDiff=512}}

			    
			  {{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>